# This file tells Github who 'owns' a file. Pull requests that changes one of these files
# will require a review from one of the code owners.

index.html @ndrewh @maxdg99 @adambricelis
main.css @ndrewh
main.js @ndrewh
README.md @ndrewh
CODEOWNERS @ndrewh